body {
    font-family: "Century Gothic", Sans-serif, Arial;
    font-size: 1em;
    color: black;
    background: #CC0000;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: black;
    color: white;
}

nav div {
    float: left;
    height: 50px;
    line-height: 50px;
    margin-left: 20px;
}

nav div.menu {
    height: 50px;
    width: 50px;
    background-image: url('../icon/menu.png');
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

.drop-menu {
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
}

.drop-menu ul {
    padding: 0;
    margin: 0;
    background: white;
    list-style: none;
}

.drop-menu ul {
    color: black;
    text-decoration: none;
}

.drop-menu ul li {
    padding: 12px 20px;
    border: none;
    border-top: 1px solid #cc0000;
    color: black;
}

.drop-menu div.close {
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.6);
}

input:focus, button:focus {
    outline: none;
}

button {
    padding: 10px 30px;
    background-color: black;
    color: white;
    font-family: "Century Gothic", Sans-serif, Arial;
    font-size: 20px;
    border-radius: 30px;
    border: 1px solid black;
    transition: opacity 2s ease-out;
}

button.hide {
    opacity: 0;
    height: 0;
    overflow: hidden;
}

button.active {
    opacity: 1;
    height: auto;
}

.card {
    position: relative;
    width: 275px;
    height: 275px;
    transform-style: preserve-3d;
    transition: .5s ease;
    background: transparent;
    border-radius: 5px;
    margin-bottom: 20px;
}

.group_card {
    position: relative;
    width: 90%;
    padding: 50px 0px;
    transform-style: preserve-3d;
    transition: .5s ease;
    background: #AD4031;
    border-radius: 5px;
    margin: 5%;
    color: white;
    text-align: center;
    text-decoration: none;
}

.card-front, .card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
}

.card-front {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.card-back {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.card-back {
    transform: rotateY(180deg);
}

#home {
    width: 46px;
    height: 44px;
    background: url(../card/cards.jpg) 0 0;
}

div {
    color: white;
}

div.popup {
    position: fixed;
    z-index: 2;
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

div.overlay {
    position: fixed;
    z-index: 2;
    background-color: black;
    background-image: url(../icon/achtergrond.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

div.overlay img {
    height: 15vh;
    display: block;
    margin: 20vh auto 0 auto;
}

.top {
    height: 60px;
    width: 100%;
}

h2 {
    color: white;
    max-width: 275px;
}

p.message {
    max-width: 200px;
    padding: 0px;
    margin: 10vh auto;
    text-align: center;
    color: white;
    font-weight: bolder;
    animation: flickerAnimation 2s infinite;
    transition: all .2s ease-in-out;
}

#wrapper {
    margin-top: 60px;
    width: auto;
    text-align: center;
}

#wrapper div button {
    width: 90%;
    border-radius: 0px;
    margin: 3px 0;
}

.pop-up {
	position: fixed;
	z-index: 2;
	left: 5%;
	right: 5%;
	top: 12vh;
	bottom: 5vh;
	background: white;
	overflow-y: scroll;
}

.pop-up h2 {
    color: black;
    position: absolute;
    top: 0px;
    margin: 0;
    padding: 8px;
    height: 32px;
}

div#cross {
    width: 32px;
    height: 32px;
    background-color: black;
    background-image: url(../icon/cross.png);
    float: right;
    margin: 8px;
}

table#holder {
    width: calc(100% - 16px);
    margin-left: 8px;
    border-collapse: collapse;
}

table#holder tr td, table#holder tr th {
    padding: 5px 10px;
    border: 1px solid;
}

table#holder tr td.alive {
	background-color: palegreen;
}

table#holder tr td.died {
	background-color: palevioletred;
}

table#holder tr td img {
    float: left;
    clear: none;
    margin-right: 10px;
    width: 100px;

@keyframes flickerAnimation { /* flame pulses */
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}

@-webkit-keyframes flickerAnimation { /* flame pulses */
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}